<body>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="SearchContainer">
      <div class="SearchText">進階查詢</div>
      <div class="Search">
        <div class="SelectorContainer">
          <div>
            <img class="MapMarker" src="assets\images\map-marker.png" />
            <span>所在地</span>
            <select formControlName="cityId">
              <option value=''>全部</option>
              <option *ngFor="let city of  cityOptions" [value]="city.cityId">{{city.cityName}}</option>
            </select>
          </div>
          <div>
            <img class="paw" src="assets\images\paw.png" />
            <span>寵物類型</span>
            <select formControlName="speciesId">
              <option value=''>全部</option>
              <option *ngFor="let species of  speciesOptions" [value]="species.speciesId">{{species.speciesName}}
              </option>
            </select>
          </div>
          <div>
            <img class="couple" src="assets\images\couple.png" />
            <span>寵物性別</span>
            <select formControlName="sex">
              <option value=''>全部</option>
              <option value='M'>公</option>
              <option value='F'>母</option>
            </select>
          </div>
        </div>
        <button type="submit">查詢</button>
      </div>
      <img class="SearchImage" src="assets\images\小邊框.png" />
    </div>
    <div class="ResultContainer">
      <div class="CardContainer">
        <div class="Card" *ngFor="let pet of displayAnimals;" (click)="cardClicked(pet.id)">
          <img class="PetImage" src="data:image/png;base64,{{pet.photo}}" />
          <div class="PetDetails">
            <img class="MapMarker" src="assets\images\map-marker.png" />
            <span class="Location" *ngFor="let city of cityOptions"
              [hidden]="city.cityId!==pet.city">{{city.cityName}}</span>
            <img class="paw" src="assets\images\paw.png" />
            <span class="PetType" *ngFor="let species of speciesOptions"
              [hidden]="species.speciesId!==pet.species">{{species.speciesName}}</span>
            <img class="couple" src="assets\images\couple.png" />
            <span class="Gender">{{ pet.sex === 'F' ? '母' : pet.sex === 'M' ? '公' : '' }}</span>
          </div>
          <div class="PetName">{{pet.name}}</div>
          <div class="PetDescription">{{pet.introduction}}</div>
          <div class="Requirements">
            <div class="TrackingRequirement"
              [ngStyle]="{'color': pet.conditionFollowup === 'Y' ? '#D14747' : '#DFD2D2'}">需接受後續追蹤</div>
            <div class="AgeRequirement" [ngStyle]="{'color': pet.conditionAgeLimit === 'Y' ? '#D14747' : '#DFD2D2'}">
              需年滿20歲</div>
            <div class="FamilyApprovalRequirement"
              [ngStyle]="{'color': pet. conditionParentalPermission === 'Y' ? '#D14747' : '#DFD2D2'}">需家人同意</div>
            <div class="AgreementRequirement"
              [ngStyle]="{'color': pet. conditionAffidavit === 'Y' ? '#D14747' : '#DFD2D2'}">需簽署養切結書</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <mat-paginator [length]="this.totalAnimals" [pageSize]="6" aria-label="Select page" (page)="onPageChange($event)">
  </mat-paginator>
</body>
