.Line {
  width: 55%;
  height: 0px;
  position: absolute;
  border: 1px #D24C4C solid;
}

table {
  padding-top: 15px;
}

.messagePageTitle {
  padding-top: 10px;
  color: #872222;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.messagePage {
  flex: 1;
  padding: 20px;
}

.tableBody {
  background-color: white;
  padding: 23px 8px 3px 5px;
  border-radius: 18px;
  color: #872222;
  font-weight: 500;
  margin-top: 15px;
  width: 730px;
}

td {
  height: 40px;
}

.name {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: larger;
  width: 100px
}

.message {
  max-width: 460px;
  width: 460px;
}

tr :hover {
  color: #A52A2A;
  font-weight: bold;
}

.tableBody :hover {
  cursor: pointer;
}
