<div class="chat-container">
  <div>
    <div class="receiver-info">私訊 : {{this.name}}</div>
    <div class="message-box" *ngFor="let msg of messages">
      <div class="message" [ngClass]="{'message-sent': msg.senderId === this.myId}"
        [ngStyle]="{'background-color': msg.senderId === this.myId ? '#A773A5' : '#A487CA'}">
        <strong>{{ msg.senderId === this.myId ? '我: ' : '他: ' }}</strong>
        <span>{{ msg.content }}</span>
      </div>
      <span class="time">{{msg.time}}</span>
    </div>
  </div>
  <div class="image-container">
    <img src="\assets\images\動物們邊框.png" class="image" />
    <img src="\assets\images\動物們邊框.png" class="image" />
  </div>
  <div class="input-box">
    <input [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type your message...">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
