.carousel-container {
  width:200x;
  height: 400px;
  overflow: hidden;
}

.carousel-container .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FrameContainer {
  margin-top: 20px;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12%;
  background: #FAD0D0;
  border-radius: 18px;
  overflow: hidden;
}

.Frame {
  width: 80%;
  height: 70%;
  background: linear-gradient(0deg, 0%, 100%);
  border-radius: 6px;
}

.SlideDot {
  height: 8.50px;
  position: relative;
}

.Ellipse1,
.Ellipse2,
.Ellipse3 {
  width: 8px;
  height: 8.50px;
  left: 20px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
}

.Ellipse1 {
  background: #65AEF2;
}

.Ellipse2 {
  background: white;
  left: 40px;
}

.Ellipse3 {
  background: white;
  left: 60px;
}

.BenefitsContainer {
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 15px;
  width: 98%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  background: #F48686;
  border-radius: 18px;
  position: relative;
}

.BenefitsText {
  color: white;
  font-size: 35px;
  font-family: Kavoon;
  font-weight: 400;
  line-height: 12px;
  word-wrap: break-word;
  margin-top: 20px;
}

.BenefitsDescription {
  color: white;
  font-size: 30px;
  font-family: Kavoon;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 20px;
}

.BenefitImage {
  width: 350px;
  height: 115.65px;
  mix-blend-mode: screen;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.RecommendationContainer {
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  display: inline-flex;
  position: relative;
}

.Text {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.RankingTitle {
  width: 100%;
  height: 157.49px;
  position: relative;
  align-items: center;
}

.Recommendation {
  width: 100%;
  height: 20px;
  top: 20px;
  position: absolute;
  text-align: center;
  color: #BF5F36;
  font-size: 32px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.MostFollowed {
  width: 100%;
  height: 40.47px;
  top: 40px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 64px;
  font-weight: 500;
  word-wrap: break-word;
  top: 70px;
}

.TopPets {
  width: 100%;
  top: 127px;
  position: absolute;
  text-align: center;
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
}

.CardContainer {
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
  gap: 5%;
  display: inline-flex;
  flex-direction : row ;
  justify-content: flex-start;
}

.Card {
  background: white;
  padding-top: 20px;
  box-shadow: 0px 4px 60px rgba(0, 52.49, 100.94, 0.25);
  border-radius: 42px;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  width: 30%;
  height: 500px;
}

.PetImage {
  width: 90%;
  height: 50%;
  background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
  border-radius: 24px;
  align-self: center;
}

.PetName {
  width: 90%;
  text-align: left;
  color: #1E1E1E;
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
  align-self: center;
  padding-bottom: 10px;
}

.PetDetails {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  height: 20px;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
}

.couple,
.MapMarker,
.paw {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 15px;
}

.Gender,
.PetType,
.Location {
  color: #1E1E1E;
  font-size: 15px;
  font-weight: 800;
  word-wrap: break-word;
}

.PetType,
.Location {
  padding-right: 25%;
}

.PetDescription {
  width: 90%;
  color: #5E5E5E;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  align-self: center;
  padding-bottom: 10px;
}

.Requirements {
  width: 90%;
  height: 58px;
  position: relative;
  align-self: center;
  align-items: center;
}

.AgeRequirement,
.TrackingRequirement,
.FamilyApprovalRequirement,
.AgreementRequirement {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}


.AgeRequirement {
  right: 30px;
  top: 0px;
}

.TrackingRequirement {
  left: 0;
  top: 37px;
}

.FamilyApprovalRequirement {
  right: 30px;
  top: 37px;
}

.AgreementRequirement {
  left: 0px;
  top: 0px;
}
