<div class="MemberInfo" *ngFor="let info of this.infoList">
  <p class="MemberInfoTitle">會員資料</p>
  <div class="Line"></div>
  <form [formGroup]="form" (ngSubmit)="modifyInfo()">
    <p class="ModifyText">會員資料修改</p>
    <p>電子信箱</p>
    <!-- value為會員帳號，不可更改，以下資料須帶入會員資料 -->
    <input type="text" disabled value={{info.googleAccount}}>
    <p>姓名</p>
    <input type="text" formControlName="name" value={{info.name}}>
    <p>手機號碼</p>
    <input type="text" formControlName="mobile" value={{info.mobile}}>
    <br>
    <button type="submit">儲存</button>
  </form>
</div>
